.password-button{
    border: 1px solid #dee2e6;
    padding: 7px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    padding-top: 8px;
    color: #777777;
}

@media only screen and (max-width: 1024px) and (min-device-width: 320px) and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait){
    .password-button{
        padding-bottom: 9px;
    }
}